
# clang caches
.cache/

# compile commands and friends
*.json

# ignore object files
*.o

# scons build directory (Cargo-like structure)
target/

# cmake build directory
build/

# scons stuff
*.dblite

# ignore all markdown files except readme
*.md
!README.md
